name: Coverage
on:
  repository_dispatch:
    types: [dispatch-event]

jobs:
  send_email:
    runs-on: ubuntu-latest 
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: print all

      run: |
        echo ${{ github.event.client_payload.github.actions }}
        echo ${{ github.event.client_payload.github.actor }}

    - name: Publish message
      run: |
        curl -X POST \
         -H "Content-Type: application/json" \  
         -d '{"text": "notify"}' \
         {{secrets.CHAT_HOOK}}
