name: Coverage
on:
  repository_dispatch:
    types: [dispatch-event]

jobs:
  send_email:
    runs-on: ubuntu-latest 
    steps:
    - name: print all

      run: |
        echo ${{ github.event.client_payload.github }}
        echo ${{ github.event.client_payload.github.actor }}

    - uses: actions/checkout@v3
      with: 
        repository: Sreesanth-46/notify
        path: notify
    
    - run: cd notify && npm install
    - run: cd notify && npm test

    - name: Copy coverage report  
      run: |
        ls notify/
        cp notify/coverage/lcov-report $GITHUB_WORKSPACE -r

    - name: Commit coverage report of ${{ github.event.client_payload.github.actor }}
      uses: EndBug/add-and-commit@v9
      with:
        add: "."
        message: "chore(generated): added coverage report of ${{ github.event.client_payload.github.actor }} automatically"
        default_author: github_actions
    
    - name: Push changes
      uses: ad-m/github-push-action@master
      with: 
        github_token: ${{ secrets.GITHUB_TOKEN }}
