name: Coverage
on:
  repository_dispatch:
    types: [dispatch-event]
  workflow_dispatch:

jobs:
  test_and_commit:
    runs-on: ubuntu-latest 
    steps:
    
    - name: print all
      run: |
        echo ${{ github.event.client_payload.github }}
        echo ${{ github.event.client_payload.github.actor }}

    - uses: actions/checkout@v3
      with: 
        repository: Sreesanth-46/notify
        path: notify
    
    - run: cd notify && npm install
    - run: cd notify && npm test

    - name: Copy coverage report  
      run: |
        ls notify/
        cp notify/coverage/lcov-report $GITHUB_WORKSPACE -r
    
    - name: Directory check
      run: |
        pwd
        echo "---------------------------------------"
        ls

    - name: Commit coverage report of ${{ github.event.client_payload.github.actor }}
      uses: actions/checkout@v3
      with:
        path: '.'
        ref: 'main'

    - name: Copy files
      shell: bash
      run: |
        git status
        mkdir -p coverage-notfication/Sreesanth-46
        # cp -rvT notify/coverage/lcov-report ./Sreesanth-46
        git status
        # git add -A
        # git status
        # git commit -m "chore: coverage"
        # git push
    
          
    
    # - name: Push changes
    #   uses: ad-m/github-push-action@master
    #   with: 
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
